body {
  background-color: #1a1a1a;
}

h1 {
  color: white;
  margin-left: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}

div.smieci {
  width: 600px;
  margin: auto;
}

p.wzium{
  color: white;
}
