body {
  background-color: #1a1a1a;
    font-family: Helvetica, sans-serif;
}

h1 {
  color: white;
  margin-left: 20px;

}

.smieci {
  position:absolute;
  left:600px;
  top:150px;
  color: white;
}

.title{
  font-size: 200%;

}

.footer{
  color: white;
  font-size: 100%;
}

.list{
  font-size: 130%;
  color: white;
}
