body {
  background-color: #1a1a1a;
}

h1 {
  color: white;
  margin-left: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.smieci {
  position:absolute;
  left:600px;
  top:150px;
  color: white;
}

.title{
  font-size: 200%;

}

.footer{
  color: white;
  font-size: 100%;
}

.list{
  font-size: 130%;
  color: white;
}
